<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Refresh" content="60"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>


<div class="container">
    <h1>Последние 30 сообщений</h1>
    {% if messages %}
        {% for el in messages %}
        <div class="alert alert-warning mt-2">
            <h3>VEMAC_ID: {{ el.vemac_id }}</h3>
            <p>Date: {{ el.date }}</p>
            <p>Time: {{ el.time }}</p>
            <p>Lat: {{ el.lat }}</p>
            <p>Lon: {{ el.lon }}</p>
            <p>Speed: {{ el.speed }}</p>
            <p>Course: {{ el.course }}</p>
            <p>Sats: {{ el.sats }}</p>
            <p>Danger: {{ el.danger }}</p>
            <p>Overlake: {{ el.overlake }}</p>
        </div>
        {% endfor %}
    {% else %}
        <p>Сообщений не поступало</p>
    {% endif %}
</div>

</body>
</html>